.header__container{
    width: 100%;
    max-width: 1773px;
    min-height: 821px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/images/bluemountain.png);
}   

.header__wrapper{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 6%;
    margin-left: 4%;
}


.header__top{
    width: 100%;
    max-width: 372px;
    min-height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title{
    width: 100%;
    max-width: 342px;
    min-height: 26px;
    color:variable.$text-color;
    font-size: 48px;
    font-weight: bold;
    font-family:fonts.$font-second;
    letter-spacing: 1px;
    margin: 0 auto;
    }

.header__subtitle{
    width: 100%;
        /*max-width: 345px;*/
        min-height: 26px;
        font-size:22px;
        font-family:fonts.$font-second;
        letter-spacing:5px;
        margin:0 auto; 
        color:variable.$text-color;
        font-weight:300;
    }
    .header__search-wrap{
        // width: 100%;
        // height: 100vh;
        background:variable.$text-color ;
        display: flex;
        align-items: center;
        justify-content: center;
         margin-top: 3%;
         margin-left:5%;
        
    }

    .header__form{
        width: 600px;
        height: 45px;
        display: flex;
        background:variable.$p-color;    
    }

    .header__form-input{
        flex: 1;
        border: none;
        outline: none;
        padding-left: 8rem;
        letter-spacing:2px ;
        font-family: fonts.$font-second;
        font-size: 14px;
    }    
 
    %button{
        background-color:variable.$main-color;
        max-width:143px;
        height: 43px;
        // padding: 13px 28px;
        right: 5px;
        border: none;
        margin-top: 1px;
        margin-right: 1px;
        border-radius: 2px;
        display: flex;
        color:variable.$text-color;
        letter-spacing: 1px;
        cursor: pointer;
        font-family: fonts.$font-first;
        font-size: 14px;
        font-weight: 300;
    }
      
    .header__button{
        @extend %button;
        padding: 15px 28px;
            &:hover{
                background-color:darkmagenta;
                color:variable.$p-color;
                transition: all 0.3s ease;
            }
    } 

    .search{
        width: 22px;
        height: 24px;
        color: variable.$text-color;
        padding-left: 10px;
        padding-bottom: 15px;
    }

    .scroll__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        margin-left: 8%;
 }
 
 .scroll__head{
     width: 123px;
     height: 26px;
     font-family: fonts.$font-second;
     font-size: 14px;
     font-weight: 300;
     color: variable.$text-color;
     letter-spacing: 1px;
     margin-right: 20px;
 }

 .scroll{
    margin-left: 27px;
    padding-bottom: 10px;
 }

 