.section__container-A{
    width: 100%;
    max-width: 1770px;
    height: 685px;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/images/castle.png);
}

.section__container-1{
       margin-right: 2%;
       
}  

.section__div1{
    width: 100;
    max-width: 288px;
    margin-top: 4%;   
}

.section__head {
    font-family: fonts.$font-first;
    letter-spacing: 1px;
    color:variable.$text-color;  
    font-weight: 300;
}

.section__div2{
    width: 100%;
    max-width: 480px;
    min-height: 158px;
}

.para-1, .para-2{
    color:variable.$text-color;  
    font-family: fonts.$font-second;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 26px;
    font-weight: 200;
}

.para-2{
  max-width: 475px;
  padding-bottom: 15px;
}

.section__btn-1{
    @extend %button;
    width: 100%;
    max-width: 200px;
    min-height: 50px;
    font-size: 13px;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-top: 17px;
    font-family: fonts.$font-first;
       &:hover{
        background-color:darkmagenta;
        color:variable.$p-color;
        transition: all 0.3s ease;
        }
}

.section__container-2{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-left: 50px;
    margin-bottom: 45px;
   
}

.section__img-1{
    width: 100%;
    max-width: 280px;
    min-height: 180px;
}

.section__img-2{
    margin-left:5rem;
}

.section__container-B{
    width: 100%;
    max-width: 1773px;
    min-height: 290px;
    background-color: #2d2c2c;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.p1, .p2, .p3{
    color: #fff;
    font-family: fonts.$font-first;
    font-size: 26px;
    letter-spacing: 1;
    font-weight: 300;
      &:hover{
        color:blue;
        transition: all 0.3s ease;
     }
}

.section__container-C{
    width: 100%;
    max-width: 1770px;
    min-height: 700px;
    background-image: url(/images/beachhouse.png);
    display: flex;
    flex-direction: column;    
}

.rectangle-1{
    width: 100%;
    max-width:543px;
    min-height: 374px;
    margin-top: 15% ;
    margin-left: 18%;
    opacity: 0.8;
    background-color: variable.$background-color;
}

.section__content-C{
    padding-left: 30px;
    color: variable.$text-color;
    font-family:fonts.$font-second;
    padding-top: 40px;
    align-items: center;
}
 
.title-c{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
}

.sub-titleC{
    font-weight: 400;
}

.content-c{
    width: 100%;
    max-width: 500px;
    min-height: 78px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.content-c_btn{
    @extend %button;
    width: 100%;
    max-width: 200px;
    min-height: 50px;
    font-size: 12px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-left: 55px;
    padding-top: 18px;
    font-family: fonts.$font-first;
       &:hover{
        background-color:darkmagenta;
        color:variable.$p-color;
        transition: all 0.3s ease;
        }
}

.section__container-D{
    width: 100%;
    max-width: 1770px;
    min-height: 700px;
    background-image: url(/images/yellowsky.png);
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: end;
}

.rectangle-2{
    width: 100%;
    max-width:543px;
    min-height: 374px;
    margin-top: 15%;
    margin-right: 8%;
    opacity: 0.9;
    background-color: variable.$background-color;
}
